# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# deploy
/build
/dist
/public/src

# misc
.DS_Store
.env.local
.env.development
.env.test.local
.env.production
types.d.ts

npm-debug.log*
