body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #e0e3de;
}

a:hover {
  text-decoration: none;
  color: #243f6a !important;
  background-color: #fff;
}

/* ---- App Bar ---- */
.navbar {
  background: #0d1a2e;
}

.nav-link {
  font-size: large !important;
  color: #5dc1be;
}

.nav-link:focus {
  color: #e0e3de;
}

.navbar-toggler,
.navbar-brand {
  color: #5dc1be;
}

.navbar-brand img {
  filter: invert(58%) sepia(48%) saturate(1039%) hue-rotate(131deg)
    brightness(108%) contrast(150%);
}
/* ----- */

.accordion {
  width: -webkit-fill-available;
  width: -moz-available;
}

.accordion-header > button,
.accordion-item {
  color: #5dc1be !important;
  background-color: #0d1a2e !important;
}

.accordion-item > h2 > button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%235DC1BE%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.accordion-body {
  color: #293d59;
  background-color: #e0e3de;
}

.app {
  margin-top: 4.3rem;
}

#home {
  color: #293d59;
  padding-bottom: 4rem;
}

#home .name {
  color: #293d59;
}

#about {
  background-color: #293d59;
  color: #e0e3de;
  clip-path: polygon(0 0%, 100% 15%, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 15%, 100% 85%, 0% 100%);
}

#about a {
  color: #bad0e3;
}

#about .accordion a {
  color: #293d59;
  text-decoration: underline;
}

#about a:hover {
  text-decoration: none;
  color: #bad0e3 !important;
  background-color: #243f6a !important;
}

#projects {
  background-color: #293d59;
  color: #e0e3de;
  margin-top: -3.25rem;
  clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 15%, 100% 100%, 0% 100%);
}

#about,
#skills {
  margin-top: -3.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#skills {
  color: #293d59;
  padding-bottom: 4.5rem;
}

#skills img {
  padding: 0 5px 0 5px;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.skill-item:hover {
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.skill-item .skill-name {
  display: none;
}
.skill-item:hover .skill-name {
  display: block;
  font-size: small;
}

.card {
  background-color: #e0e3de !important;
  color: #0d1a2e !important;
  border: 3px solid transparent;
}

.card:hover {
  border-color: #5dc1be;
  box-shadow: 0 6px 16px rgba(41, 61, 89, 0.8);
  transform: translateY(-4px);
}

.card-subtitle {
  color: #3b6893 !important;
}

.card a {
  background-color: #0d1a2e !important;
  color: #5dc1be !important;
}

/* ----- Footer ----- */
footer {
  height: 75px;
  background: #0d1a2e;
}

.footer-links,
.copyright,
.footer-links a,
.footer-links a:visited {
  color: #5dc1be !important;
}
/* ----- */

@media screen and (min-width: 1100px) {
  #about,
  #skills {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (max-width: 800px) {
  #home div h1 {
    margin-bottom: 0;
  }

  #about {
    clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
  }

  #about,
  #skills {
    margin-top: -4rem;
  }
  .skills-list {
    row-gap: 0.75rem;
  }

  #projects {
    margin-top: -4rem;
  }

  .copyright {
    margin-left: 2%;
  }
}
