body { 
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a:hover { 
  text-decoration: none;
  color: #243F6A !important;
  background-color: #fff;
}

/* ---- App Bar ---- */
.navbar {
  background: #0D1A2E;
}

.nav-link {
  font-size: large !important;
  color: #5DC1BE;
}

.nav-link:focus {
  color: #E0E3DE;
}

.navbar-toggler,
.navbar-brand {
  color: #5DC1BE;
}

.navbar-brand img {
  filter: invert(58%) sepia(48%) saturate(1039%) hue-rotate(131deg) brightness(108%) contrast(150%);
}
/* ----- */

.accordion {
  width: -webkit-fill-available;
  width: -moz-available;
}

.accordion-header > button,
.accordion-item {
  color: #5DC1BE !important;
  background-color: #0D1A2E !important;
}

.accordion-button::after {
  background-image: url("data: image/svg+xml, %3csvg xmlns=%27http: //www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%5DC1BE%27%%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")
}

.accordion-body {
  color: #3E587A;
  background-color: #E0E3DE;
}

.app {
  margin-top: 4.3rem;
}

#home {
  background-color: #E0E3DE;
  color: #3E587A;
  padding-bottom: 4.5rem;
}

#home .name {
 color: #3E587A; 
}

#about {
  background-color: #3E587A;
  color: #E0E3DE;
  clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
}

#about a {
  color: #BAD0E3;
  text-decoration: underline;

}

#projects {
  background-color: #3E587A;
  color: #E0E3DE;
  margin-top: -3.25rem;
  clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
}

#about,
#skills {
  margin-top: -3.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#skills {
  background-color: #E0E3DE;
  color: #3E587A;
  padding-bottom: 4.5rem;
}

#skills img {
  padding: 0 5px 0 5px;
}

.card {
  background-color: #E0E3DE !important;
  color: #0D1A2E !important;
}

.card-subtitle {
  color: #3B6893 !important;
}

.card a {
  background-color: #0D1A2E !important;
  color: #5DC1BE !important;
}

/* ----- Footer ----- */
footer {
  height: 75px;
  background: #0D1A2E;
}

.footer-links,
.copyright, 
.footer-links a,
.footer-links a:visited {
  color: #5DC1BE !important;
}
/* ----- */

@media screen and (min-width: 1100px) {
  #about,
  #skills {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (max-width: 800px) {
  #home div h1 {
    margin-bottom: 0;
  }

  #about {
    clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
  }

  #about,
  #skills {
    margin-top: -4rem;
  }
  .skills-list {
    row-gap: 0.75rem;
  }

  #projects {
    margin-top: -4rem;
  }

  .copyright {
    margin-left: 2%;
  }
}
