body { 
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a:hover { 
  text-decoration: none;
  color: #243F6A !important;
  background-color: #fff;
}

/* ---- App Bar ---- */
.navbar {
  background: #0D1A2E;
}

.nav-link {
  font-size: large !important;
  color: #5DC1BE;
}

.navbar-toggler,
.navbar-brand {
  color: #5DC1BE;
}

.navbar-brand img {
  filter: invert(58%) sepia(48%) saturate(1039%) hue-rotate(131deg) brightness(108%) contrast(150%);
}
/* ----- */

.app {
  margin-top: 4.3rem;
}

#home {
  background-color: #E0E3DE;
  color: #3E587A;
  padding-bottom: 4.5rem;
}

#home .name {
 color: #3E587A; 
}

#about {
  background-color: #3E587A;
  color: #E0E3DE;
  clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
}

#projects {
  background-color: #3E587A;
  color: #E0E3DE;
  margin-top: -2rem;
  clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%);
}

#about,
#skills {
  margin-top: -3.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#skills {
  background-color: #E0E3DE;
  color: #3E587A;
  padding-bottom: 3.5rem;
}

#skills img {
  padding: 0 5px 0 5px;
}

.card {
  background-color: #E0E3DE !important;
  color: #0D1A2E !important;
}

.card-subtitle {
  color: #3B6893 !important;
}

.card a {
  background-color: #0D1A2E !important;
  color: #5DC1BE !important;
}

/* ----- Footer ----- */
footer {
  height: 75px;
  background: #0D1A2E;
}

.footer-links,
.copyright, 
.footer-links a,
.footer-links a:visited {
  color: #5DC1BE !important;
}
/* ----- */

@media screen and (min-width: 1100px) {
  #about,
  #skills {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media screen and (max-width: 800px) {
  #home div h1 {
    margin-bottom: 0;
  }

  #about {
    clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 3%, 100% 97%, 0% 100%);
  }

  #about,
  #skills {
    margin-top: -4rem;
  }
  .skills-list {
    row-gap: 0.75rem;
  }

  #projects {
    margin-top: -2.5rem;
  }

  .copyright {
    margin-left: 2%;
  }
}
