html { 
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body { 
  margin-bottom: 75px;
  overflow-x: hidden;
}

a:hover { 
  text-decoration: none;
  color: #4c6392 !important;
}

/* ---- App Bar ---- */
.navbar {
  background: #4c6392;
}

.nav-item {
  font-size: large;
}

.nav-item > a:hover {
  background-color: #fff;
}

#home {
  background-image: url("./../img/perutrail2.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  background-position: center;
  height: 350px;
}

#about {
  background-color: #E1F5FE;
  padding: 0 175px 0 100px;
}

#skills {
  background-color: #4c6392;
  color: #fff;
}

.skills-mobile {
  display: none;
}

#projects {
  background-color: #C1D1E7;
  padding: 0 40px;
}

.padding-top {
  padding-top: 130px;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-width {
  width: 300px;
  margin: 25px;
}

.card-title {
  font-weight: 500 !important;
}

.card-subtitle {
  color: #7fac26 !important;
}

/* ----- Footer ----- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  padding: 20px;
  background: #4c6392;
}

.copyright {
  margin-left: 42%;
  display: inline-block;
}

footer a:visited {
  color: white;
}

@media screen and (max-width: 1100px) {
  #about {
    padding: 0 100px 0 75px;
  }

  .card-width {
    margin: 15px;
  }
}

@media screen and (max-width: 800px) {
  .nav-item {
    padding: 10px 0;
  }

  .nav-item > a:hover {
    padding: 1rem !important;
  }

  #home {
    height: 175px;
  }

  #about {
    padding: 0 25px;
  }

  .copyright {
    margin-left: 2%;
    font-size: small;
  }

  .skills-list {
    display: none;
  }

  .skills-mobile {
    display: inline;
  }
}
