body { 
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a:hover { 
  text-decoration: none;
  color: #243F6A !important;
  background-color: #fff;
}

/* ---- App Bar ---- */
.navbar {
  background: #0D1A2E;
}

.nav-link {
  font-size: large;
  color: #5DC1BE;
}

.navbar-toggler,
.navbar-brand {
  color: #5DC1BE;
}

.navbar-brand img {
  filter: invert(58%) sepia(48%) saturate(1039%) hue-rotate(131deg) brightness(108%) contrast(150%);
}
/* ----- */

.app {
  margin-top: 4.3rem;
}

#home {
  background-color: #C7CCC4;
  color: #3E587A; 
}

#home .name {
 color: #3E587A; 
}

#about {
  background-color: #3E587A;
  color: #C7CCC4;
  clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
}

#about,
#skills {
  margin-top: -40px;
  padding-left: 3rem;
  padding-right: 3rem;
}

#skills {
  background-color: #C7CCC4;;
  color: #3E587A;;
}

#skills img {
  padding: 0 5px 0 5px;
}

#projects {
  background-color: #3E587A;
  color: #fff;
}

.card {
  background-color: #C7CCC4;
  color: #0D1A2E;;
}

.card-subtitle {
  color: #fff;
}

.card a {
  background-color: #5DC1BE;
}

/* ----- Footer ----- */
footer {
  height: 75px;
  background: #0D1A2E;
}

.footer-links,
.copyright, 
.footer-links a:visited {
  color: #5DC1BE;
}
/* ----- */

@media screen and (min-width: 1100px) {
  #about,
  #skills {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: -18px;
  }
}

@media screen and (max-width: 800px) {
  #home div h1 {
    margin-bottom: 0;
  }

  .copyright {
    margin-left: 2%;
  }
}
